/bin/


*target*
*test-output*
*.jar
*.war
*.ear
*.class
*.png
*.xml
*.css
# eclipse specific git ignore

*.png
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch